# Hello, World

This is a sample Jupyter Notebook.

This is a test thing.

In [4]:
print("Hello, World, this is cool!")

Hello, World, this is cool!

In [5]:
n = 10
for i in range(0,n):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Markdown for commentary

Using basic Markdown for formatting you can write informative instructions and explanations for your code.

1. This is a ordered list
2. pretty easy to do.

Or an unordered list:
* Hello
* World

You can even use $\LaTeX$ to write mathematical expressions:

$$ a^2 + b^2 = c^2 $$

$$ c = \sqrt{a^2+b^2} $$

## Write some Code!
Write some code below (Python 3) and see what happens!

In [1]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa